
.nav {
    position:absolute;
    background-color: #151515;
    color: white;
    height: 100%;
    padding-top: 2rem;
    width: 3rem;
    font-family:Calibri;
   
}

.linkText {
    visibility: hidden;
}

.nav-link {
    color: white;
    font-size: 1.1rem;
    margin-top: 1rem;
}

#YoyoLogo {

    width: 2rem;
    height: 2rem;
    margin-left: 0.6rem;
    margin-bottom: 02rem;
}

.nav-link:hover {
    color: white;
    background-color: #808080;
}



.navbar li:hover ul #active {
    color: white;
    background-color: #808080;
}

.fa {
    margin-right: 0.4rem;
}

.container-fluid {
    margin-left: 3rem;
    height: 100%;
    padding:0;
}

.row
{
    margin:0;
    width:100%;
}

@media (min-width: 992px) {
    .nav {
        width: 11rem;
    }

    .linkText {
        visibility: visible;
    }

   #YoyoLogo {

    width: 7rem;
    height: 7rem;
    margin-left: 1.7rem;
    margin-bottom: 02rem;
}

    .container-fluid {
        margin-left: 9rem;
        height: 100%;
        padding:0;
    }
}


 .dropdown {
    position: relative;
    display: inline-block;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: static;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


    /* Links inside the dropdown */
    .dropdown-content a {
        color: white;
        padding: 12px 0px 5px 47px;
        text-decoration: none;
        display: block;
    }

        /* Change color of dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #808080;
        }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.back {
    /*background: #e2e2e2;*/
    background-color:#cfcfcf;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
  
}


.div-center {
    width: 400px;
    height: 330px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    border-right: 1.5px solid #ccc;
    display: table;
    /*border-radius: 15px;*/
}

div.content {
    display: table-cell;
    vertical-align: middle;
}
