li, a {
    font-family: Calibri;
    font-weight: 300;

}

body {
    background-color: white;
    margin: auto;
    font-family: Calibri;
    font-weight: 300;
}

.SideBar {
    height: 100%;
    margin-left: 0;
    width: 10%;
    background-color: #131313;
    position: absolute;
    box-shadow: 1px 0px 8px #888888;
}

#YoyoLogo {
    width: 5vw;
    height: 5vw;
    margin-top: 1vw;
    margin-left: 25%;
}

.SideBarMenu {
    margin-top: 1vw;
}

    .SideBarMenu a {
        color: white;
        font-size: 1.2vw; /*Originally 25px*/
        display: block;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 5px;
        padding-left: 10px;
    }

        .SideBarMenu a:hover {
            background-color: #323232;
            text-decoration: none;
            color: white;
        }

        .SideBarMenu a.active {
            background-color: #545454;
            color: white;
        }

.SideBarMenu span {
    margin-right: 18px;

}

.SubHeader {
    background-color: #b6dfff;
    width: 100%;
    position: absolute;
    padding-left: 10%;
    /*padding-top: 1.5%;*/
    
}

.GraphOptions {
    margin: auto;
}

    .GraphOptions li {
        font-weight: 100;
        display: inline-block;
        color: #636363;
        margin-left: 8%;
        font-size: 1.4vw; /*Originally 25px*/
        border-left: 1px solid #99cbf2;
        border-right: 1px solid #99cbf2;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 2%;
        padding-right: 2%;
       
    }

        .GraphOptions li:hover {
            background-color: #99cbf2;
        }

.GraphOptions span {
    font-size: 0.8vw;
    margin-left: 5px;
}



